body {
    background-image: url("../images/prism.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    background-color: gray;
    color: purple;
}

p {
    color: purple;
}

/* Custom Elements */

.instructions {
    display: inline-block;
    margin: 2% 25% 0% 25%;
    text-align: center;
    background-color: gray;
}

.random-number {
    font-size: 30px;
    margin: 2% 35% 0% 35%;
    text-align: center;
    background-color: gray;
}

.stats {
    font-size: 15px;
    margin: 2% 35% 0% 35%; 
    text-align: center;
    background-color: gray;
}

.crystals {
    display: inline-block;
    margin: 2% 31% 0% 31%;
}

.current-score {
    display: inline-block;
    font-size: 25px;
    margin: 2% 45% 0% 44%;
    text-align: center;
    background-color: gray;
}

.random-number {
    color: yellow;
}

#score {
    color: orange;
}

#win {
    color: lightgreen;
}

#loss {
    color: red;
}